{% extends 'complet.html.twig' %}
{% block main %}


    <div class="GB">
        {% for id, product in products %}

            <div class="article">
                <h1 class="titre">{{ product.title }}</h1>
                <p class="content">{{ product.content }}</p>
                <div class="imge">
                    <img class="" src="{{ product.image}}" alt="">
                </div>
                <a href="{{ path('suiteExo' , {'id': product.id}) }}">achete</a>
            </div>

        {% endfor %}
    </div>

{% endblock %}