{%  extends 'complet.html.twig' %}

{% block main %}
<div class="trot_focus">
    <h1>{{ product.title }}</h1>
    <img class="focus_image" src="{{ product.image }}" alt="">
    <p>{{ product.content }}</p>
</div>
{% endblock %}
{% block footer %}
    <div class="dv">
    <a class="cgv" href="{{ path('cgv') }}">cgv</a>
    </div>
{% endblock %}
